.ImageCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    
    padding-bottom: 10vh;
}

p{
    margin-left: 10%;
    width: 80%;
    font-size: 7pt;
    text-align: justify;
}

a{
    margin-left: 10%;
    width: 80%;
    font-size: 7pt;
    display: block;
    padding-bottom: 3vh;
}

h3{
    padding-top: 4vh;
    padding-bottom: 2vh;
    margin-left: 10%;
    width: 80%;
    font-size: 10pt;
}


@media (orientation: portrait){
    .ImageCenter{
        width: 80vw;
    }
}

@media(orientation:landscape){
    a,p{
        font-size: 12pt;
    }

    h3{
        font-size: 18pt;
    }
}